<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>University of New Haven | Department of Chemistry</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- styles -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,700" rel="stylesheet">
  <link href="assets/css/bootstrap.css" rel="stylesheet">
  <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
  <link href="assets/css/docs.css" rel="stylesheet">
  <link href="assets/css/prettyPhoto.css" rel="stylesheet">
  <link href="assets/js/google-code-prettify/prettify.css" rel="stylesheet">
  <link href="assets/css/flexslider.css" rel="stylesheet">
  <link href="assets/css/sequence.css" rel="stylesheet">
  <link href="assets/css/style.css" rel="stylesheet">
  <link href="assets/color/default.css" rel="stylesheet">

  <!-- fav and touch icons -->
  <link rel="shortcut icon" href="assets/ico/favicon.png">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">

</head>

<body>
  <header>
    <!-- Navbar
    ================================================== -->
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <!-- logo -->
          <a class="brand logo" href="index.html"><img src="assets/img/logo.png" alt=""></a>
          <!-- end logo -->
          <!-- top menu -->
          <div class="navigation">
            <nav>
              <ul class="nav topnav">
                <li class="dropdown active">
                  <a href="index.html">Home</a>
                </li>
                <li class="dropdown">
                  <a href="#">Facilty & Research</a>
                  <ul class="dropdown-menu">
                    <li><a href="404.html">Facility</a></li>
                    <li><a href="404.html">Research</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#">People</a>
                  <ul class="dropdown-menu">
                    <li><a href="404.html">Faculty and Staff</a></li>
                    <li><a href="#">Collaborators</a></li>
                    <li><a href="#">Grants</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#">Publications</a>
                  <ul class="dropdown-menu">
                    <li><a href="404.html">Publications 2</a></li>
                    <li><a href="404.html">Publications 3</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#">Resources</a>
                  <ul class="dropdown-menu">
                    <li><a href="404.html">Services</a></li>
                    <li><a href="404.html">M-Inventory</a></li>
                    <li><a href="404.html">Software</a></li>
                    <li><a href="404.html">Materials@UNH</a></li>
                  </ul>
                </li>
                <li>
                  <a href="contact.html">About & Contact</a>
                </li>
                <li>
                  <button class="adminbutton" style="vertical-align:middle"><span><a href="login.html" target="_blank">Login</a></span></button>
                </li>
              </ul>
            </nav>
          </div>
          <!-- end menu -->
        </div>
      </div>
    </div>
  </header>
  <!-- Subhead
================================================== -->
  <section id="subintro">
    <div class="jumbotron subhead" id="overview">
      <div class="container">
        <div class="row">
          <div class="span12">
            <div class="centered">
              <h3>Members of the Center for Integrative Materials Discovery</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="breadcrumb">
    <div class="container">
      <div class="row">
        <div class="span12">
          <ul class="breadcrumb notop">
            <li><a href="#">Home</a><span class="divider">/</span></li>
            <li class="active">Pricing table</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section id="maincontent">
    <div class="container">
      <div class="row">
        <div class="span12">
          <h3>Example pricing boxes</h3>
          <div class="row">
            <div class="span3">
              <div class="priceBox">
                <h4 class="light">Standard</h4>
                <hr>
                <span class="emphasis">$9.99 <em>per month</em></span>
                <hr>
                <span>5 GB Storage</span>
                <hr>
                <span>Free Live Support</span>
                <hr>
                <span>Unlimited Users</span>
                <hr>
                <span>No Time Tracking</span>
                <hr>
                <span>Enhanced SSL Security</span>
                <hr>
                <span class="emphasis-2"><a class="btn btn-success" href="#">Order</a></span>
              </div>
            </div>
            <div class="span3">
              <div class="priceBox">
                <h4 class="light">Premium</h4>
                <hr>
                <span class="emphasis">$19.99 <em>per month</em></span>
                <hr>
                <span>5 GB Storage</span>
                <hr>
                <span>Free Live Support</span>
                <hr>
                <span>Unlimited Users</span>
                <hr>
                <span>No Time Tracking</span>
                <hr>
                <span>Enhanced SSL Security</span>
                <hr>
                <span class="emphasis-2"><a class="btn btn-success" href="#">Order</a></span>
              </div>
            </div>
            <div class="span3">
              <div class="priceBox special">
                <h4 class="light">Professional</h4>
                <hr>
                <span class="emphasis">$49.99 <em>per month</em></span>
                <hr>
                <span>5 GB Storage</span>
                <hr>
                <span>Free Live Support</span>
                <hr>
                <span>Unlimited Users</span>
                <hr>
                <span>No Time Tracking</span>
                <hr>
                <span>Enhanced SSL Security</span>
                <hr>
                <span class="emphasis-2"><a class="btn btn-success" href="#">Order</a></span>
              </div>
            </div>
            <div class="span3">
              <div class="priceBox">
                <h4 class="light">Ultimate</h4>
                <hr>
                <span class="emphasis">$109.99 <em>per month</em></span>
                <hr>
                <span>5 GB Storage</span>
                <hr>
                <span>Free Live Support</span>
                <hr>
                <span>Unlimited Users</span>
                <hr>
                <span>No Time Tracking</span>
                <hr>
                <span>Enhanced SSL Security</span>
                <hr>
                <span class="emphasis-2"><a class="btn btn-success" href="#">Order</a></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Footer
 ================================================== -->
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="span4">
          <div class="widget">
            <ul class="regular">
              <h6>DEPARTMENT</h6>
              <li><a href="#">Safety</a></li>
              <li><a href="#">Finance & Research</a></li><br>
              <h6>LIBRARY</h6>
              <li><a href="#">Safety</a></li>
              <li><a href="#">Finance & Research</a></li><br>
              <h6>ACADEMICS</h6>
              <li><a href="#">Safety</a></li>
              <li><a href="#">Finance & Research</a></li><br>
            </ul>
          </div>
        </div>
        <div class="span4">
          <div class="widget">
            <ul class="regular">
              <h6>OPPORTUNITIES</h6>
              <li><a href="#">Jobs @ CCB</a></li>
              <li><a href="#">Corporate & Academic Recruiting</a></li>
              <li><a href="#">Apply</a></li><br>
              <h6>ABOUT CCB</h6>
              <li><a href="#">News & Events</a></li>
              <li><a href="#">Calender</a></li>
              <li><a href="#">Directions</a></li>
              <li><a href="#">Digital Accessibility Policy</a></li>
              <li><a href="#">CCB Community Committe</a></li><br>
            </ul>
          </div>
        </div>
        <div class="span4">
          <div class="widget">
            <!-- logo -->
            <a class="brand logo" href="index.html">
              <img src="assets/img/University_of_New_Haven_logo.png" alt="" style="width: 130px; height: 110px;">
            </a>
            <!-- end logo -->
            <address>
              <strong>University of New Haven</strong><br>
               300 Boston Post Rd.<br>
               West Haven, CT 06516<br>
              <abbr title="Phone">P:</abbr> (123) 456-7890
            </address>
          </div>
        </div>
      </div>
    </div>
    <div class="verybottom">
      <div class="container">
        <div class="row">
          <div class="span6">
            <p>
              &copy; University of New haven - All right reserved
            </p>
          </div>
          <div class="span6">
            <div class="credits">
              Designed by <a href="https://www.unh.com/">University of New Haven</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- JavaScript Library Files -->
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/jquery.easing.js"></script>
  <script src="assets/js/google-code-prettify/prettify.js"></script>
  <script src="assets/js/modernizr.js"></script>
  <script src="assets/js/bootstrap.js"></script>
  <script src="assets/js/jquery.elastislide.js"></script>
  <script src="assets/js/sequence/sequence.jquery-min.js"></script>
  <script src="assets/js/sequence/setting.js"></script>
  <script src="assets/js/jquery.prettyPhoto.js"></script>
  <script src="assets/js/application.js"></script>
  <script src="assets/js/jquery.flexslider.js"></script>
  <script src="assets/js/hover/jquery-hover-effect.js"></script>
  <script src="assets/js/hover/setting.js"></script>

  <!-- Template Custom JavaScript File -->
  <script src="assets/js/custom.js"></script>

</body>
</html>
