<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>University of New Haven | Department of Chemistry</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- styles -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,700" rel="stylesheet">
  <link href="assets/css/bootstrap.css" rel="stylesheet">
  <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
  <link href="assets/css/docs.css" rel="stylesheet">
  <link href="assets/css/prettyPhoto.css" rel="stylesheet">
  <link href="assets/js/google-code-prettify/prettify.css" rel="stylesheet">
  <link href="assets/css/flexslider.css" rel="stylesheet">
  <link href="assets/css/sequence.css" rel="stylesheet">
  <link href="assets/css/style.css" rel="stylesheet">
  <link href="assets/color/default.css" rel="stylesheet">

  <!-- fav and touch icons -->
  <link rel="shortcut icon" href="assets/ico/favicon.png">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">

</head>

<body>
  <header>
    <!-- Navbar
    ================================================== -->
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <!-- logo -->
          <a class="brand logo" href="index.html"><img src="assets/img/logo.png" alt=""></a>
          <!-- end logo -->
          <!-- top menu -->
          <div class="navigation">
            <nav>
              <ul class="nav topnav">
                <li class="dropdown active">
                  <a href="index.html">Home</a>
                </li>
                <li class="dropdown">
                  <a href="#">Facilty & Research</a>
                  <ul class="dropdown-menu">
                    <li><a href="404.html">Facility</a></li>
                    <li><a href="404.html">Research</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#">People</a>
                  <ul class="dropdown-menu">
                    <li><a href="404.html">Faculty and Staff</a></li>
                    <li><a href="#">Collaborators</a></li>
                    <li><a href="#">Grants</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#">Publications</a>
                  <ul class="dropdown-menu">
                    <li><a href="404.html">Publications 2</a></li>
                    <li><a href="404.html">Publications 3</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#">Resources</a>
                  <ul class="dropdown-menu">
                    <li><a href="404.html">Services</a></li>
                    <li><a href="404.html">M-Inventory</a></li>
                    <li><a href="404.html">Software</a></li>
                    <li><a href="404.html">Materials@UNH</a></li>
                  </ul>
                </li>
                <li>
                  <a href="contact.html">About & Contact</a>
                </li>
                <li>
                  <button class="adminbutton" style="vertical-align:middle"><span><a href="login.html" target="_blank">Login</a></span></button>
                </li>
              </ul>
            </nav>
          </div>
          <!-- end menu -->
        </div>
      </div>
    </div>
  </header>
  <!-- Subhead
================================================== -->
  <section id="subintro">
    <div class="jumbotron subhead" id="overview">
      <div class="container">
        <div class="row">
          <div class="span12">
            <div class="centered">
              <h3>Blog left sidebar</h3>
              <p>
                Lorem ipsum dolor sit amet, modus salutatus honestatis ex mea. Sit cu probo putant. Nam ne impedit atomorum.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="breadcrumb">
    <div class="container">
      <div class="row">
        <div class="span12">
          <ul class="breadcrumb notop">
            <li><a href="#">Home</a><span class="divider">/</span></li>
            <li class="active">Blog left sidebar</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section id="maincontent">
    <div class="container">
      <div class="row">
        <div class="span4">
          <aside>
            <div class="widget">
              <form class="form-search">
                <input placeholder="Type something" type="text" class="input-medium search-query">
                <button type="submit" class="btn btn-flat btn-color">Search</button>
              </form>
            </div>
            <div class="widget">
              <h4>Categories</h4>
              <ul class="cat">
                <li><a href="#">Web design (114)</a></li>
                <li><a href="#">Internet news (15)</a></li>
                <li><a href="#">Tutorial and tips (20)</a></li>
                <li><a href="#">Design trends (15)</a></li>
                <li><a href="#">Online business (10)</a></li>
              </ul>
            </div>
            <div class="widget">
              <h4>Recent posts</h4>
              <ul class="recent-posts">
                <li><a href="#">Lorem ipsum dolor sit amet munere commodo ut nam</a>
                  <div class="clear">
                  </div>
                  <span class="date"><i class="icon-calendar"></i> 6 March, 2013</span>
                  <span class="comment"><i class="icon-comment"></i> 4 Comments</span>
                </li>
                <li><a href="#">Sea nostrum omittantur ne mea malis nominavi insolens</a>
                  <div class="clear">
                  </div>
                  <span class="date"><i class="icon-calendar"></i> 6 March, 2013</span>
                  <span class="comment"><i class="icon-comment"></i> 2 Comments</span>
                </li>
                <li><a href="#">Eius graece recusabo no pri odio tale quo id, mea at saepe</a>
                  <div class="clear">
                  </div>
                  <span class="date"><i class="icon-calendar"></i> 4 March, 2013</span>
                  <span class="comment"><i class="icon-comment"></i> 12 Comments</span>
                </li>
                <li><a href="#">Malorum deserunt at nec usu ad graeco elaboraret at rebum</a>
                  <div class="clear">
                  </div>
                  <span class="date"><i class="icon-calendar"></i> 3 March, 2013</span>
                  <span class="comment"><i class="icon-comment"></i> 3 Comments</span>
                </li>
              </ul>
            </div>
            <div class="widget">
              <h4>Tags</h4>
              <ul class="tags">
                <li><a href="#" class="btn">Tutorial</a></li>
                <li><a href="#" class="btn">Tricks</a></li>
                <li><a href="#" class="btn">Design</a></li>
                <li><a href="#" class="btn">Trends</a></li>
                <li><a href="#" class="btn">Online</a></li>
              </ul>
            </div>
          </aside>
        </div>
        <div class="span8">
          <!-- start article 1 -->
          <article class="blog-post">
            <div class="post-heading">
              <h3><a href="#">Example article with thumbnail image</a></h3>
            </div>
            <div class="row">
              <div class="span3">
                <div class="post-image">
                  <a href="#"><img src="assets/img/dummies/blog1.jpg" alt="" /></a>
                </div>
              </div>
              <div class="span5">
                <ul class="post-meta">
                  <li class="first"><i class="icon-calendar"></i><span>March 03, 2013</span></li>
                  <li><i class="icon-list-alt"></i><span><a href="#">3 comments</a></span></li>
                  <li class="last"><i class="icon-tags"></i><span><a href="#">Design</a>, <a href="#">Blog</a>, <a href="#">Tutorial</a></span></li>
                </ul>
                <div class="clearfix">
                </div>
                <p>
                  Ei eos suavitate forensibus mnesarchum. Eu est timeam vocibus, an nostro aliquam adipiscing quo. Zril equidem et quo, ad albucius scripserit sit. Vis constituto deseruisse an, interesset reprehendunt et mel, gloriatur concludaturque pro no. At ludus mediocritatem
                  qui, no vituperata assueverit accommodare his.
                </p>
                <button class="btn btn-small btn-success" type="button">Read more</button>
              </div>
            </div>
          </article>
          <!-- end article 1 -->
          <!-- start article 2 -->
          <article class="blog-post">
            <div class="post-heading">
              <h3><a href="#">This post uses nice video post format</a></h3>
            </div>
            <div class="row">
              <div class="span3">
                <div class="video-container">
                  <iframe src="http://player.vimeo.com/video/30585464?title=0&amp;byline=0">
						</iframe>
                </div>
              </div>
              <div class="span5">
                <ul class="post-meta">
                  <li class="first"><i class="icon-user"></i><span>March 03, 2013</span></li>
                  <li><i class="icon-list-alt"></i><span><a href="#">3 comments</a></span></li>
                  <li class="last"><i class="icon-tags"></i><span><a href="#">Design</a>, <a href="#">Blog</a>, <a href="#">Tutorial</a></span></li>
                </ul>
                <div class="clearfix">
                </div>
                <p>
                  Ei eos suavitate forensibus mnesarchum. Eu est timeam vocibus, an nostro aliquam adipiscing quo. Zril equidem et quo, ad albucius scripserit sit. Vis constituto deseruisse an, interesset reprehendunt et mel, gloriatur concludaturque pro no. At ludus mediocritatem
                  qui, no vituperata assueverit accommodare his.
                </p>
                <button class="btn btn-small btn-success" type="button">Read more</button>
              </div>
            </div>
          </article>
          <!-- end article 2 -->
          <!-- start article 3 -->
          <article class="blog-post">
            <div class="post-heading">
              <h3><a href="#">Great blog post with quote post format</a></h3>
            </div>
            <div class="row">
              <div class="span3">
                <div class="post-quote">
                  <blockquote>
                    Lorem ipsum dolor sit amet, vidit postea ex nec, tantas eruditi conceptam eu vim
                  </blockquote>
                </div>
              </div>
              <div class="span5">
                <ul class="post-meta">
                  <li class="first"><i class="icon-user"></i><span>March 03, 2013</span></li>
                  <li><i class="icon-list-alt"></i><span><a href="#">3 comments</a></span></li>
                  <li class="last"><i class="icon-tags"></i><span><a href="#">Design</a>, <a href="#">Blog</a>, <a href="#">Tutorial</a></span></li>
                </ul>
                <div class="clearfix">
                </div>
                <p>
                  Ei eos suavitate forensibus mnesarchum. Eu est timeam vocibus, an nostro aliquam adipiscing quo. Zril equidem et quo, ad albucius scripserit sit. Vis constituto deseruisse an, interesset reprehendunt et mel, gloriatur concludaturque pro no. At ludus mediocritatem
                  qui, no vituperata assueverit accommodare his.
                </p>
                <button class="btn btn-small btn-success" type="button">Read more</button>
              </div>
            </div>
          </article>
          <!-- end article 3 -->
          <div class="pagination">
            <ul>
              <li><a href="#">Prev</a></li>
              <li><a href="#">1</a></li>
              <li class="active"><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">Next</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Footer
 ================================================== -->
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="span4">
          <div class="widget">
            <ul class="regular">
              <h6>DEPARTMENT</h6>
              <li><a href="#">Safety</a></li>
              <li><a href="#">Finance & Research</a></li><br>
              <h6>LIBRARY</h6>
              <li><a href="#">Safety</a></li>
              <li><a href="#">Finance & Research</a></li><br>
              <h6>ACADEMICS</h6>
              <li><a href="#">Safety</a></li>
              <li><a href="#">Finance & Research</a></li><br>
            </ul>
          </div>
        </div>
        <div class="span4">
          <div class="widget">
            <ul class="regular">
              <h6>OPPORTUNITIES</h6>
              <li><a href="#">Jobs @ CCB</a></li>
              <li><a href="#">Corporate & Academic Recruiting</a></li>
              <li><a href="#">Apply</a></li><br>
              <h6>ABOUT CCB</h6>
              <li><a href="#">News & Events</a></li>
              <li><a href="#">Calender</a></li>
              <li><a href="#">Directions</a></li>
              <li><a href="#">Digital Accessibility Policy</a></li>
              <li><a href="#">CCB Community Committe</a></li><br>
            </ul>
          </div>
        </div>
        <div class="span4">
          <div class="widget">
            <!-- logo -->
            <a class="brand logo" href="index.html">
              <img src="assets/img/University_of_New_Haven_logo.png" alt="" style="width: 130px; height: 110px;">
            </a>
            <!-- end logo -->
            <address>
              <strong>University of New Haven</strong><br>
               300 Boston Post Rd.<br>
               West Haven, CT 06516<br>
              <abbr title="Phone">P:</abbr> (123) 456-7890
            </address>
          </div>
        </div>
      </div>
    </div>
    <div class="verybottom">
      <div class="container">
        <div class="row">
          <div class="span6">
            <p>
              &copy; University of New haven - All right reserved
            </p>
          </div>
          <div class="span6">
            <div class="credits">
              Designed by <a href="https://www.unh.com/">University of New Haven</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- JavaScript Library Files -->
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/jquery.easing.js"></script>
  <script src="assets/js/google-code-prettify/prettify.js"></script>
  <script src="assets/js/modernizr.js"></script>
  <script src="assets/js/bootstrap.js"></script>
  <script src="assets/js/jquery.elastislide.js"></script>
  <script src="assets/js/sequence/sequence.jquery-min.js"></script>
  <script src="assets/js/sequence/setting.js"></script>
  <script src="assets/js/jquery.prettyPhoto.js"></script>
  <script src="assets/js/application.js"></script>
  <script src="assets/js/jquery.flexslider.js"></script>
  <script src="assets/js/hover/jquery-hover-effect.js"></script>
  <script src="assets/js/hover/setting.js"></script>

  <!-- Template Custom JavaScript File -->
  <script src="assets/js/custom.js"></script>

</body>
</html>
